.FullPost{
  display: Block;
  text-align: center;
  padding: 10px 0px;
  width: 80%;
  margin: 20px auto;
  box-shadow:0 2px 3px #ccc;
  border: 1px solid #eee;
}

.Edit {

}

.Edit label {
    display: block;
    color: grey;
}

.Edit button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    color: #fa923f;
}

.Edit button:hover,
.Edit button:active {
    color: #521751;
}

.Edit button.Delete {
    color: red;
}

.Edit button.Delete:hover,
.Edit button.Delete:active {
    color: darkred;
}