.Post{
  width: 250px;
  padding: 16px;
  height: 200px;
  margin: 10px;
  box-sizing: border-box;
  border: 1px solid #eee;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  cursor: pointer;
}
.Post:hover,
.Post:active {
    background-color: #C0DDF5;
}

.Author {
    margin: 16px 0;
    color: rgb(140, 145, 133);
}